openapi: 3.0.1
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Identity Service API
  version: 0.0.1662
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
servers:
- url: https://www.lusid.com/identity
security:
- {}
tags:
- description: Endpoints for querying application metadata
  name: Application Metadata
- description: Endpoints for administering Applications
  name: Applications
- description: Endpoints for getting authentication details for the domain
  name: Authentication
- description: Endpoints for administering Domains
  name: Domains
- description: Endpoints for getting more information about the current User
  name: Me
- description: Endpoints for administering one's own Personal Access Tokens
  name: Personal Authentication Tokens
- description: Endpoints for administering Roles
  name: Roles
- description: Endpoints for administering Users
  name: Tokens
- description: Endpoints for querying the users directory
  name: Users
paths:
  /api/applications:
    get:
      description: List the available applications
      operationId: ListApplications
      responses:
        "200":
          content:
            application/json:
              example:
              - id: UniqueApplicationId
                type: Native
                displayName: Example Native Application
                secret: "123456789"
                clientId: my-example-native-app
                issuer: https://exampleiusser.lusid.com
              schema:
                items:
                  $ref: '#/components/schemas/OAuthApplication'
                type: array
          description: List the available applications
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListApplications: List Applications'
      tags:
      - Applications
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Create a new Application
      operationId: CreateApplication
      requestBody:
        content:
          application/json-patch+json:
            example:
              displayName: My First Application
              clientId: my-first-application
              type: Native
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
          application/json:
            example:
              displayName: My First Application
              clientId: my-first-application
              type: Native
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
          text/json:
            example:
              displayName: My First Application
              clientId: my-first-application
              type: Native
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
          application/*+json:
            example:
              displayName: My First Application
              clientId: my-first-application
              type: Native
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        description: Details of the application to be created
      responses:
        "200":
          content:
            application/json:
              example:
                id: UniqueApplicationId
                type: Native
                displayName: Example Native Application
                secret: "123456789"
                clientId: my-example-native-app
                issuer: https://exampleiusser.lusid.com
              schema:
                $ref: '#/components/schemas/OAuthApplication'
          description: Create Application
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] CreateApplication: Create Application'
      tags:
      - Applications
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/applications/{id}:
    delete:
      description: Delete the specified application
      operationId: DeleteApplication
      parameters:
      - description: The unique identifier for the application
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the application
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] DeleteApplication: Delete Application'
      tags:
      - Applications
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: get the specified application, and optionally the OIDC secret
      operationId: GetApplication
      parameters:
      - description: The unique identifier for the application
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the application
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      - description: Optional. If set to true, the application secrets will be returned
          in plain text
        explode: true
        in: query
        name: includeSecret
        required: false
        schema:
          description: Optional. If set to true, the application secrets will be returned
            in plain text
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: UniqueApplicationId
                type: Native
                displayName: Example Native Application
                secret: "123456789"
                clientId: my-example-native-app
                issuer: https://exampleiusser.lusid.com
              schema:
                $ref: '#/components/schemas/OAuthApplication'
          description: Get the specified application
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetApplication: Get Application'
      tags:
      - Applications
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/applications/{id}/lifecycle/$newsecret:
    post:
      description: Rotate the secrets for the specified application
      operationId: RotateApplicationSecrets
      parameters:
      - description: The unique identifier for the application
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the application
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: UniqueApplicationId
                type: Native
                displayName: Example Native Application
                secret: "123456789"
                clientId: my-example-native-app
                issuer: https://exampleiusser.lusid.com
              schema:
                $ref: '#/components/schemas/OAuthApplication'
          description: Rotate Application Secrets
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EXPERIMENTAL] RotateApplicationSecrets: Rotate Application Secrets'
      tags:
      - Applications
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/authentication/information:
    get:
      description: "Get the AuthenticationInformation associated with the current\
        \ domain. This includes all the\r\nnecessary information to login to this\
        \ domain."
      operationId: GetAuthenticationInformation
      responses:
        "200":
          content:
            application/json:
              example:
                issuerUrl: https://myco.lusid.okta.com/12346
                samlIdentityProviderId: 0oa14txx1jAiz7T302p7as
              schema:
                $ref: '#/components/schemas/AuthenticationInformation'
          description: Get authentication information
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'GetAuthenticationInformation: Gets AuthenticationInformation'
      tags:
      - Authentication
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/authentication/support:
    delete:
      description: This will result in a loss of access to your data for all FINBOURNE
        support agents
      operationId: InvalidateSupportAccess
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 37322a3efbf445fa861d39759ad22dcb
                duration: PT24H
                description: Investigate issues detailed in support ticket 0604
                createdAt: 2020-01-06T12:05:00.0000000+00:00
                expiry: 2020-01-07T12:05:00.0000000+00:00
                createdBy: UserId-54213
                terminated: false
              - id: 37322a3efbf445fa861d39759ad22dcb
                duration: PT24H
                description: Investigate issues detailed in support ticket 0604
                createdAt: 2020-01-06T12:05:00.0000000+00:00
                expiry: 2020-01-07T12:05:00.0000000+00:00
                createdBy: UserId-54213
                terminated: true
                terminatedAt: 2020-01-06T16:05:00.0000000+00:00
                terminatedBy: UserId-54213
              schema:
                items:
                  $ref: '#/components/schemas/SupportAccessResponse'
                type: array
          description: Invalidate all currently active support requests
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] InvalidateSupportAccess: Revoke any FINBOURNE support
        access to your account'
      tags:
      - Authentication
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: "The active and inactive support requests will be returned, inactive\
        \ support requests will have information pertaining to their termination\r\
        \nincluding obfuscated userIds of those who created and terminated the request"
      operationId: GetSupportAccessHistory
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 37322a3efbf445fa861d39759ad22dcb
                duration: PT24H
                description: Investigate issues detailed in support ticket 0604
                createdAt: 2020-01-06T12:05:00.0000000+00:00
                expiry: 2020-01-07T12:05:00.0000000+00:00
                createdBy: UserId-54213
                terminated: false
              - id: 37322a3efbf445fa861d39759ad22dcb
                duration: PT24H
                description: Investigate issues detailed in support ticket 0604
                createdAt: 2020-01-06T12:05:00.0000000+00:00
                expiry: 2020-01-07T12:05:00.0000000+00:00
                createdBy: UserId-54213
                terminated: true
                terminatedAt: 2020-01-06T16:05:00.0000000+00:00
                terminatedBy: UserId-54213
              schema:
                items:
                  $ref: '#/components/schemas/SupportAccessResponse'
                type: array
          description: Get support access history
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetSupportAccessHistory: Get the history of all support
        access granted and any information pertaining to their termination'
      tags:
      - Authentication
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: "Granting support access will allow FINBOURNE employees full access\
        \ to your data with the express intent to investigate support issues\r\nYou\
        \ can revoke this (and all) access at any time using the InvalidateSupportAccess\
        \ endpoint."
      operationId: GrantSupportAccess
      requestBody:
        content:
          application/json-patch+json:
            example:
              duration: PT24H
              description: Investigate issues detailed in support ticket 0604
            schema:
              $ref: '#/components/schemas/SupportAccessRequest'
          application/json:
            example:
              duration: PT24H
              description: Investigate issues detailed in support ticket 0604
            schema:
              $ref: '#/components/schemas/SupportAccessRequest'
          text/json:
            example:
              duration: PT24H
              description: Investigate issues detailed in support ticket 0604
            schema:
              $ref: '#/components/schemas/SupportAccessRequest'
          application/*+json:
            example:
              duration: PT24H
              description: Investigate issues detailed in support ticket 0604
            schema:
              $ref: '#/components/schemas/SupportAccessRequest'
        description: Request detailing the duration and reasons for supplying support
          access
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: 37322a3efbf445fa861d39759ad22dcb
                duration: PT24H
                description: Investigate issues detailed in support ticket 0604
                createdAt: 2020-01-06T12:05:00.0000000+00:00
                expiry: 2020-01-07T12:05:00.0000000+00:00
                createdBy: UserId-54213
                terminated: false
              schema:
                $ref: '#/components/schemas/SupportAccessResponse'
          description: Grant Support Access
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GrantSupportAccess: Grants FINBOURNE support access
        to your account'
      tags:
      - Authentication
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/directory:
    get:
      description: Finds a maximum of 50 users by ID
      operationId: FindUsersById
      parameters:
      - description: A list of unique identifiers for the users
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: A list of unique identifiers for the users
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                href: https://my-domain.lusid.com/access
                values:
                  "00ub0oNGTSWTBKOLGLNR":
                    id: 00ub0oNGTSWTBKOLGLNR
                    login: dennis.sierra
                    email: Dennis
                    firstName: Sierra
                    lastName: dennis.sierra@my-awesome-company.com
                    type: Personal
                    links:
                    - relation: User
                      href: https://my-domain.lusid.com/access/api/users/00ub0oNGTSWTBKOLGLNR?includeRoles=false
                      description: A link to access the full details of this user
                      method: GET
                    - relation: Activity
                      href: https://my-domain.lusid.com/insights/api/requests?filter=user%20eq%20%2700ub0oNGTSWTBKOLGLNR%27
                      description: A link to the LUSID Insights API to get all logs
                        related to this user
                      method: GET
                  "00uijntSwJjSHtDY70g3":
                    id: 00uijntSwJjSHtDY70g3
                    login: rudi.kouma
                    email: Rudi
                    firstName: Kouma
                    lastName: rudi.kouma@my-awesome-company.com
                    type: Personal
                    links:
                    - relation: User
                      href: https://my-domain.lusid.com/access/api/users/00uijntSwJjSHtDY70g3?includeRoles=false
                      description: A link to access the full details of this user
                      method: GET
                    - relation: Activity
                      href: https://my-domain.lusid.com/insights/api/requests?filter=user%20eq%20%2700uijntSwJjSHtDY70g3%27
                      description: A link to the LUSID Insights API to get all logs
                        related to this user
                      method: GET
                failed:
                  "00u19uiKQa0xXkbdGLNR":
                    id: 00u19uiKQa0xXkbdGLNR
                    type: UserDoesNotExist
                    detail: The specified user cannot be found or has been deleted
                links:
                - relation: RequestLogs
                  href: https://mydomain.lusid.com/app/insights/logs/0ABCDEFGHIJKL:00000001
                  description: A link to the LUSID Insights website showing all logs
                    related to this request
                  method: GET
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] FindUsersById: Find users by id endpoint'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/domains:
    post:
      description: Creates a Domain
      operationId: CreateDomain
      parameters:
      - description: The verification code necessary to create domains
        explode: true
        in: query
        name: code
        required: true
        schema:
          description: The verification code necessary to create domains
          maxLength: 262144
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        style: form
      requestBody:
        content:
          application/json-patch+json:
            example:
              domain: MyCo
              companyName: MyCo USA
              owner:
                firstName: Owner
                lastName: OfAccount
                emailAddress: owner.ofaccount@myco.com
                login: owner.ofaccount@myco.com
                type: Personal
              signedAgreements:
              - TermsAndConditions_01012019_Gb
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
          application/json:
            example:
              domain: MyCo
              companyName: MyCo USA
              owner:
                firstName: Owner
                lastName: OfAccount
                emailAddress: owner.ofaccount@myco.com
                login: owner.ofaccount@myco.com
                type: Personal
              signedAgreements:
              - TermsAndConditions_01012019_Gb
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
          text/json:
            example:
              domain: MyCo
              companyName: MyCo USA
              owner:
                firstName: Owner
                lastName: OfAccount
                emailAddress: owner.ofaccount@myco.com
                login: owner.ofaccount@myco.com
                type: Personal
              signedAgreements:
              - TermsAndConditions_01012019_Gb
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
          application/*+json:
            example:
              domain: MyCo
              companyName: MyCo USA
              owner:
                firstName: Owner
                lastName: OfAccount
                emailAddress: owner.ofaccount@myco.com
                login: owner.ofaccount@myco.com
                type: Personal
              signedAgreements:
              - TermsAndConditions_01012019_Gb
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
        description: The definition of the domain
        required: true
      responses:
        "201":
          content:
            text/plain:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
            application/json:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
            text/json:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: The created domain
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'CreateDomain: Create Domain'
      tags:
      - Domains
      x-fbn-apistatus: Stable
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/domains/me:
    get:
      description: Gets the Domain of the requesting User
      operationId: GetMyDomain
      responses:
        "200":
          content:
            text/plain:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
            application/json:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
            text/json:
              example:
                id:
                  name: MyCo
                description: US subsidiary of MyCo
                companyName: MyCo USA
                owner:
                  value: DomainOwnerUserId
                billingContact:
                  value: BillingContactUserId
                technicalContact:
                  value: TechnicalContactUserId
                created: 2018-12-08T13:30:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/DomainResponse'
          description: The current domain
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'GetMyDomain: Get current Domain'
      tags:
      - Domains
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/domains/me/agreements:
    get:
      description: Lists the signed agreements for the current domain
      operationId: ListAgreements
      responses:
        "200":
          content:
            text/plain:
              example:
                termsAndConditions-20190101-GBP:
                  name: TermsAndConditions-20190101-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-01-05T10:15:00.0000000+00:00
                termsAndConditions-20190301-GBP:
                  name: TermsAndConditions-20190301-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-03-07T13:23:07.0000000+00:00
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/AgreementResponse'
                type: object
            application/json:
              example:
                termsAndConditions-20190101-GBP:
                  name: TermsAndConditions-20190101-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-01-05T10:15:00.0000000+00:00
                termsAndConditions-20190301-GBP:
                  name: TermsAndConditions-20190301-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-03-07T13:23:07.0000000+00:00
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/AgreementResponse'
                type: object
            text/json:
              example:
                termsAndConditions-20190101-GBP:
                  name: TermsAndConditions-20190101-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-01-05T10:15:00.0000000+00:00
                termsAndConditions-20190301-GBP:
                  name: TermsAndConditions-20190301-GB
                  signedBy: DomainOwnerUserId
                  signedAt: 2019-03-07T13:23:07.0000000+00:00
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/AgreementResponse'
                type: object
          description: List the signed agreements for the current domain
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'ListAgreements: List Agreements'
      tags:
      - Domains
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/domains/me/agreements/{agreement}:
    head:
      description: Check whether the domain has signed a specific agreement
      operationId: GetAgreement
      parameters:
      - description: Name of the agreement
        explode: false
        in: path
        name: agreement
        required: true
        schema:
          description: Name of the agreement
          maxLength: 100
          minLength: 0
          type: string
        style: simple
      responses:
        "404":
          description: Not Found
        "200":
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
          description: Whether agreement is signed
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'GetAgreement: Get Agreement'
      tags:
      - Domains
      x-fbn-apistatus: Stable
      x-accepts: application/json
    put:
      description: Signs a specified agreement. Only the owner of a domain can sign
        an agreement
      operationId: SignAgreement
      parameters:
      - description: Name of the agreement being signed
        explode: false
        in: path
        name: agreement
        required: true
        schema:
          description: Name of the agreement being signed
          maxLength: 100
          minLength: 0
          type: string
        style: simple
      responses:
        "201":
          content:
            text/plain:
              example:
                name: TermsAndConditions-20190101-GB
                signedBy: DomainOwnerUserId
                signedAt: 2019-01-05T10:15:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/AgreementResponse'
            application/json:
              example:
                name: TermsAndConditions-20190101-GB
                signedBy: DomainOwnerUserId
                signedAt: 2019-01-05T10:15:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/AgreementResponse'
            text/json:
              example:
                name: TermsAndConditions-20190101-GB
                signedBy: DomainOwnerUserId
                signedAt: 2019-01-05T10:15:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/AgreementResponse'
          description: Signs a specified agreement
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'SignAgreement: Sign Agreement'
      tags:
      - Domains
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/keys:
    get:
      description: "Gets the meta data for all of the user's Personal Access Tokens\
        \ that have not been deleted. They may be\r\ninvalid due to the deactivation\
        \ date having passed."
      operationId: ListOwnApiKeys
      responses:
        "200":
          content:
            application/json:
              example:
              - id: f45fcf4e7942422bb6c99ff74de30f40
                displayName: Automated system A's key
                createdDate: 2020-01-01T00:00:00.0000000+00:00
                deactivationDate: 2020-06-01T00:00:00.0000000+00:00
              - id: 89762a35ce3649b5b92f47168611a534
                displayName: Automated system B's key
                createdDate: 2020-01-02T00:00:00.0000000+00:00
                deactivationDate: 2020-06-02T00:00:00.0000000+00:00
              - id: bd772a807cab49c0bcac565c8dbd7a20
                displayName: Automated system C's key
                createdDate: 2020-01-03T00:00:00.0000000+00:00
                deactivationDate: 2020-06-03T00:00:00.0000000+00:00
              schema:
                items:
                  $ref: '#/components/schemas/ApiKey'
                type: array
          description: List of user's existing Personal Access Tokens
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListOwnApiKeys: Gets the meta data for all of the user''s
        existing Personal Access Tokens.'
      tags:
      - Personal Authentication Tokens
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Generates a Personal Access Token and returns the new key and its
        associated metadata.
      operationId: CreateApiKey
      requestBody:
        content:
          application/json-patch+json:
            example:
              displayName: My API Key
              deactivationDate: 2022-12-08T13:30:12.0000000+00:00
            schema:
              $ref: '#/components/schemas/CreateApiKey'
          application/json:
            example:
              displayName: My API Key
              deactivationDate: 2022-12-08T13:30:12.0000000+00:00
            schema:
              $ref: '#/components/schemas/CreateApiKey'
          text/json:
            example:
              displayName: My API Key
              deactivationDate: 2022-12-08T13:30:12.0000000+00:00
            schema:
              $ref: '#/components/schemas/CreateApiKey'
          application/*+json:
            example:
              displayName: My API Key
              deactivationDate: 2022-12-08T13:30:12.0000000+00:00
            schema:
              $ref: '#/components/schemas/CreateApiKey'
        description: The request to create a new Personal Access Token
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                key: ba5e8bed1cbd92f3cc4a893a48141ff23617b258cb7f1407f3567d1f35d0f0e0
                id: f45fcf4e7942422bb6c99ff74de30f40
                displayName: Automated system A's key
                createdDate: 2020-01-01T00:00:00.0000000+00:00
                deactivationDate: 2020-06-01T00:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/CreatedApiKey'
          description: The Personal Access Token and associated meta data.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] CreateApiKey: Create a Personal Access Token'
      tags:
      - Personal Authentication Tokens
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/keys/{id}:
    delete:
      description: Immediately invalidates the specified Personal Access Token
      operationId: DeleteApiKey
      parameters:
      - description: The id of the Personal Access Token to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The id of the Personal Access Token to delete
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: f45fcf4e7942422bb6c99ff74de30f40
                displayName: Automated system A's key
                createdDate: 2020-01-01T00:00:00.0000000+00:00
                deactivationDate: 2020-08-01T00:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: Invalidates a Personal Access Token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] DeleteApiKey: Invalidate a Personal Access Token'
      tags:
      - Personal Authentication Tokens
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/me:
    get:
      description: Get the requesting user's basic info
      operationId: GetUserInfo
      responses:
        "200":
          content:
            application/json:
              example:
                id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                type: Personal
              schema:
                $ref: '#/components/schemas/CurrentUserResponse'
          description: Get the specified user's info
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetUserInfo: Get User Info'
      tags:
      - Me
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/me/password:
    put:
      description: "Set the password of the current user to the specified value.\r\
        \n            \r\nNote this is feature is only available to Service users\
        \ authenticated using OpenID. For further information\r\nrelating to usage\
        \ of this feature please consult the documentation."
      operationId: SetPassword
      requestBody:
        content:
          application/json-patch+json:
            example:
              value: ""
            schema:
              $ref: '#/components/schemas/SetPassword'
          application/json:
            example:
              value: ""
            schema:
              $ref: '#/components/schemas/SetPassword'
          text/json:
            example:
              value: ""
            schema:
              $ref: '#/components/schemas/SetPassword'
          application/*+json:
            example:
              value: ""
            schema:
              $ref: '#/components/schemas/SetPassword'
        description: The request containing the new password value
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                updatedAt: 2022-12-25T12:00:00.0000000+00:00
              schema:
                $ref: '#/components/schemas/SetPasswordResponse'
          description: Set the current user's password
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: 'SetPassword: Set password of current user'
      tags:
      - Me
      x-fbn-apistatus: Stable
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: Get the comprehensive set of resources that are available for access
        control
      operationId: ListAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListAccessControlledResources: Get resources available
        for access control'
      tags:
      - Application Metadata
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/metadata/eap:
    get:
      description: Identify whether there registrations service is available
      operationId: GetRegistrationAvailability
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: Registration availability state
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetRegistrationAvailability: Check Registration availability'
      tags:
      - Application Metadata
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/roles:
    get:
      description: List the available Roles
      operationId: ListRoles
      responses:
        "200":
          content:
            application/json:
              example:
              - id: asnvr5ne35
                roleId:
                  scope: LUSID
                  code: FrontOfficeAdministrator
                source: LusidUser
                name: LUSID:FrontOfficeAdministrator
                description: Front office administration role
              schema:
                items:
                  $ref: '#/components/schemas/RoleResponse'
                type: array
          description: List the available roles
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListRoles: List Roles'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Creates a new Role
      operationId: CreateRole
      requestBody:
        content:
          application/json-patch+json:
            example:
              name: LUSID:FrontOfficeAdministrator
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
          application/json:
            example:
              name: LUSID:FrontOfficeAdministrator
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
          text/json:
            example:
              name: LUSID:FrontOfficeAdministrator
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
          application/*+json:
            example:
              name: LUSID:FrontOfficeAdministrator
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        description: Details of the role to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: asnvr5ne35
                roleId:
                  scope: LUSID
                  code: FrontOfficeAdministrator
                source: LusidUser
                name: LUSID:FrontOfficeAdministrator
                description: Front office administration role
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: Create a new role
        "409":
          description: A role with the same Name already exists.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] CreateRole: Create Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/roles/{id}:
    delete:
      description: Delete the specified role
      operationId: DeleteRole
      parameters:
      - description: The unique identifier for the role
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the role
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] DeleteRole: Delete Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: Get the specified role
      operationId: GetRole
      parameters:
      - description: The unique identifier for the role
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the role
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: asnvr5ne35
                roleId:
                  scope: LUSID
                  code: FrontOfficeAdministrator
                source: LusidUser
                name: LUSID:FrontOfficeAdministrator
                description: Front office administration role
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: Get the specified role
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetRole: Get Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    put:
      description: Update the specified Role
      operationId: UpdateRole
      parameters:
      - description: The unique identifier for the role to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the role to be updated
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
          application/json:
            example:
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
          text/json:
            example:
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
          application/*+json:
            example:
              description: Front office administration role
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        description: The new definition of the role
      responses:
        "200":
          content:
            application/json:
              example:
                id: asnvr5ne35
                roleId:
                  scope: LUSID
                  code: FrontOfficeAdministrator
                source: LusidUser
                name: LUSID:FrontOfficeAdministrator
                description: Front office administration role
              schema:
                $ref: '#/components/schemas/RoleResponse'
          description: Update a role
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] UpdateRole: Update Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/roles/{id}/users:
    get:
      description: List all Users in the specified Role
      operationId: ListUsersInRole
      parameters:
      - description: The unique identifier for the Role
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the Role
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                login: joe.bloggs@myco.com
                firstName: Joe
                lastName: Bloggs
                roles:
                - id: customrole1
                  roleId:
                    scope: default
                    code: customrole2
                  source: LusidUser
                  name: Front Office Administrator
                  description: Administration role for Front Office staff
                type: Personal
                status: ACTIVE
                external: false
              schema:
                items:
                  $ref: '#/components/schemas/UserResponse'
                type: array
          description: The users in the role
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListUsersInRole: Get the users in the specified role.'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/roles/{id}/users/{userId}:
    delete:
      description: Removes the User from the specified Role
      operationId: RemoveUserFromRole
      parameters:
      - description: The unique identifier for the Role
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the Role
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      - description: The unique identifier for the User
        explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the User
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] RemoveUserFromRole: Remove User from Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    put:
      description: Adds the User to the specified Role
      operationId: AddUserToRole
      parameters:
      - description: The unique identifier for the Role
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the Role
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      - description: The unique identifier for the User
        explode: false
        in: path
        name: userId
        required: true
        schema:
          description: The unique identifier for the User
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] AddUserToRole: Add User to Role'
      tags:
      - Roles
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/tokens:
    delete:
      description: Log the current user out of all Finbourne platforms by invalidating
        the current token
      operationId: InvalidateToken
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] InvalidateToken: Invalidate current JWT token (sign
        out)'
      tags:
      - Tokens
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/users:
    get:
      description: List the available Users
      operationId: ListUsers
      parameters:
      - description: Flag indicating that the users roles should be included in the
          response
        explode: true
        in: query
        name: includeRoles
        required: false
        schema:
          default: false
          description: Flag indicating that the users roles should be included in
            the response
          type: boolean
        style: form
        x-nullable: true
      - description: Include previously deleted (not purged) users
        explode: true
        in: query
        name: includeDeactivated
        required: false
        schema:
          default: false
          description: Include previously deleted (not purged) users
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              example:
              - id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                login: joe.bloggs@myco.com
                firstName: Joe
                lastName: Bloggs
                roles:
                - id: customrole1
                  roleId:
                    scope: default
                    code: customrole2
                  source: LusidUser
                  name: Front Office Administrator
                  description: Administration role for Front Office staff
                type: Personal
                status: ACTIVE
                external: false
              schema:
                items:
                  $ref: '#/components/schemas/UserResponse'
                type: array
          description: List the available users
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] ListUsers: List Users'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      description: Create a new User
      operationId: CreateUser
      parameters:
      - description: Should the request wait until the newly created User is indexed
          (available in List) before returning
        explode: true
        in: query
        name: waitForReindex
        required: false
        schema:
          default: false
          description: Should the request wait until the newly created User is indexed
            (available in List) before returning
          type: boolean
        style: form
        x-nullable: true
      requestBody:
        content:
          application/json-patch+json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
              type: Personal
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
          application/json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
              type: Personal
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
          text/json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
              type: Personal
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
          application/*+json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
              type: Personal
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        description: Details of the User to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                login: joe.bloggs@myco.com
                firstName: Joe
                lastName: Bloggs
                roles:
                - id: customrole1
                  roleId:
                    scope: default
                    code: customrole2
                  source: LusidUser
                  name: Front Office Administrator
                  description: Administration role for Front Office staff
                type: Personal
                status: ACTIVE
                external: false
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Create a new user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] CreateUser: Create User'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/users/{id}:
    delete:
      description: "By default the user will be de-provisioned and inactive, however\
        \ their record will remain in the identity\r\nprovider for audit purposes.\
        \ If this is not desirable and removal of all trace of the user is required,\r\
        \nthe purge parameter can be specified to indicate the details should be purged\
        \ completely."
      operationId: DeleteUser
      parameters:
      - description: The unique identifier for the user
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the user
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      - description: Whether to purge any trace of the user from the identity provider
          (will affect audit)
        explode: true
        in: query
        name: purge
        required: false
        schema:
          description: Whether to purge any trace of the user from the identity provider
            (will affect audit)
          type: boolean
        style: form
        x-nullable: true
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] DeleteUser: Delete User'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    get:
      description: Get the specified User
      operationId: GetUser
      parameters:
      - description: The unique identifier for the User
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      - description: Flag indicating that the users roles should be included in the
          response
        explode: true
        in: query
        name: includeRoles
        required: false
        schema:
          description: Flag indicating that the users roles should be included in
            the response
          nullable: true
          type: boolean
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                login: joe.bloggs@myco.com
                firstName: Joe
                lastName: Bloggs
                roles:
                - id: customrole1
                  roleId:
                    scope: default
                    code: customrole2
                  source: LusidUser
                  name: Front Office Administrator
                  description: Administration role for Front Office staff
                type: Personal
                status: ACTIVE
                external: false
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Get the specified user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] GetUser: Get User'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    put:
      description: Updates the specified User
      operationId: UpdateUser
      parameters:
      - description: The unique identifier for the User to be updated
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User to be updated
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
          application/json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
          text/json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
          application/*+json:
            example:
              firstName: Joe
              lastName: Bloggs
              emailAddress: joe.bloggs@myco.com
              login: joe.bloggs@myco.com
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        description: The new definition of the User
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                id: asybvrs5
                emailAddress: joe.bloggs@myco.com
                login: joe.bloggs@myco.com
                firstName: Joe
                lastName: Bloggs
                roles:
                - id: customrole1
                  roleId:
                    scope: default
                    code: customrole2
                  source: LusidUser
                  name: Front Office Administrator
                  description: Administration role for Front Office staff
                type: Personal
                status: ACTIVE
                external: false
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Update a user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[EARLY ACCESS] UpdateUser: Update User'
      tags:
      - Users
      x-fbn-apistatus: EarlyAccess
      x-contentType: application/json-patch+json
      x-accepts: application/json
  /api/users/{id}/lifecycle/$activate:
    post:
      description: Sends an activation email to the specified User
      operationId: SendActivationEmail
      parameters:
      - description: The unique identifier for the User to be activated
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User to be activated
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[BETA] SendActivationEmail: Sends an activation email to the User'
      tags:
      - Users
      x-fbn-apistatus: Beta
      x-accepts: application/json
  /api/users/{id}/lifecycle/$expirepassword:
    post:
      description: Resets the user's password to a temporary one which is then expired
      operationId: ExpirePassword
      parameters:
      - description: The unique identifier for the User having its password reset
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User having its password reset
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryPassword'
          description: Reset the user's password
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[BETA] ExpirePassword: Reset the user''s password to a temporary one'
      tags:
      - Users
      x-fbn-apistatus: Beta
      x-accepts: application/json
  /api/users/{id}/lifecycle/$resetfactors:
    post:
      description: Resets the MFA factors of the specified User
      operationId: ResetFactors
      parameters:
      - description: The unique identifier for the User having their MFA factors reset
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User having their MFA factors
            reset
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[BETA] ResetFactors: Reset MFA factors'
      tags:
      - Users
      x-fbn-apistatus: Beta
      x-accepts: application/json
  /api/users/{id}/lifecycle/$resetpassword:
    post:
      description: Resets the password of the specified User
      operationId: ResetPassword
      parameters:
      - description: The unique identifier for the User having their password reset
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User having their password reset
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[BETA] ResetPassword: Reset Password'
      tags:
      - Users
      x-fbn-apistatus: Beta
      x-accepts: application/json
  /api/users/{id}/lifecycle/$unlock:
    post:
      description: Unlocks the specified User
      operationId: UnlockUser
      parameters:
      - description: The unique identifier for the User to be unlocked
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier for the User to be unlocked
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        style: simple
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: '[BETA] UnlockUser: Unlock User'
      tags:
      - Users
      x-fbn-apistatus: Beta
      x-accepts: application/json
components:
  schemas:
    AccessControlledAction:
      additionalProperties: false
      example:
        limitedSet:
        - identifier:
            key: identifier
          name: name
          description: description
          actions:
          - activity: activity
            scope: scope
            entity: entity
          - activity: activity
            scope: scope
            entity: entity
        - identifier:
            key: identifier
          name: name
          description: description
          actions:
          - activity: activity
            scope: scope
            entity: entity
          - activity: activity
            scope: scope
            entity: entity
        description: description
        action:
          activity: activity
          scope: scope
          entity: entity
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
      properties:
        description:
          type: string
        action:
          $ref: '#/components/schemas/ActionId'
        limitedSet:
          items:
            $ref: '#/components/schemas/IdSelectorDefinition'
          nullable: true
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - action
      - description
      type: object
    AccessControlledResource:
      additionalProperties: false
      example:
        application: application
        name: name
        description: description
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        actions:
        - limitedSet:
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          description: description
          action:
            activity: activity
            scope: scope
            entity: entity
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
        - limitedSet:
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          description: description
          action:
            activity: activity
            scope: scope
            entity: entity
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
        identifierParts:
        - displayName: displayName
          name: name
          index: 0
          description: description
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          required: true
        - displayName: displayName
          name: name
          index: 0
          description: description
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          required: true
      properties:
        application:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        description:
          type: string
        actions:
          items:
            $ref: '#/components/schemas/AccessControlledAction'
          type: array
        identifierParts:
          items:
            $ref: '#/components/schemas/IdentifierPartSchema'
          nullable: true
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - actions
      - description
      type: object
    ActionId:
      additionalProperties: false
      example:
        activity: activity
        scope: scope
        entity: entity
      properties:
        scope:
          maxLength: 100
          minLength: 3
          type: string
        activity:
          maxLength: 25
          minLength: 3
          type: string
        entity:
          maxLength: 25
          minLength: 3
          type: string
      required:
      - activity
      - entity
      - scope
      type: object
    AgreementResponse:
      additionalProperties: false
      description: Agreement DTO
      example:
        signedBy: signedBy
        name: name
        signedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        name:
          description: Name of the agreement
          nullable: true
          type: string
        signedBy:
          description: UserID (obfuscated) of the user who signed this agreement
          nullable: true
          type: string
        signedAt:
          description: Datetime at which the agreement was signed
          format: date-time
          type: string
      type: object
    ApiKey:
      additionalProperties: false
      description: The metadata of an API key
      example:
        deactivationDate: 2000-01-23T04:56:07.000+00:00
        createdDate: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        id: id
      properties:
        id:
          description: The unique Id of the API key
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        displayName:
          description: The display name of the API key
          maxLength: 512
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        createdDate:
          description: The creation date of the API key
          format: date-time
          type: string
        deactivationDate:
          description: The deactivation date of the API key
          format: date-time
          nullable: true
          type: string
      required:
      - createdDate
      - displayName
      - id
      type: object
    AuthenticationInformation:
      additionalProperties: false
      example:
        issuerUrl: issuerUrl
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        samlIdentityProviderId: samlIdentityProviderId
        support:
          expiry: 2000-01-23T04:56:07.000+00:00
      properties:
        issuerUrl:
          type: string
        samlIdentityProviderId:
          nullable: true
          type: string
        support:
          $ref: '#/components/schemas/SupportAccessExpiry'
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - issuerUrl
      type: object
    CreateApiKey:
      additionalProperties: false
      description: Create an API key
      example:
        deactivationDate: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
      properties:
        displayName:
          description: The display name for the API key
          maxLength: 512
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        deactivationDate:
          description: The optional date at which the key should deactivate
          format: date-time
          nullable: true
          type: string
      required:
      - displayName
      type: object
    CreateApplicationRequest:
      additionalProperties: false
      description: A request to create an application for authenticating the source
        of token requests
      example:
        clientId: clientId
        displayName: displayName
        postLogoutRedirectUris:
        - postLogoutRedirectUris
        - postLogoutRedirectUris
        type: type
        redirectUris:
        - redirectUris
        - redirectUris
      properties:
        displayName:
          description: The Display Name of the application
          maxLength: 50
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        clientId:
          description: The OpenID Connect ClientId of the application
          maxLength: 50
          minLength: 6
          pattern: ^[a-zA-Z][a-zA-Z0-9-]{5,49}
          type: string
        type:
          description: The Type of the application. This must be either Native or
            Web
          maxLength: 20
          minLength: 1
          pattern: ^[a-zA-Z]*$
          type: string
        redirectUris:
          description: A web application's acceptable list of post-login redirect
            URIs
          items:
            type: string
          nullable: true
          type: array
        postLogoutRedirectUris:
          description: A web application's acceptable list of post-logout redirect
            URIs
          items:
            type: string
          nullable: true
          type: array
      required:
      - clientId
      - displayName
      - type
      type: object
    CreatedApiKey:
      additionalProperties: false
      description: A newly created API key
      example:
        deactivationDate: 2000-01-23T04:56:07.000+00:00
        createdDate: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        id: id
        key: key
      properties:
        key:
          description: The API Key value
          type: string
        id:
          description: The unique Id of the API key
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9\-_]+$
          type: string
        displayName:
          description: The display name of the API key
          maxLength: 512
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        createdDate:
          description: The creation date of the API key
          format: date-time
          type: string
        deactivationDate:
          description: The deactivation date of the API key
          format: date-time
          nullable: true
          type: string
      required:
      - createdDate
      - displayName
      - id
      - key
      type: object
    CreateDomainRequest:
      additionalProperties: false
      example:
        owner:
          firstName: firstName
          lastName: lastName
          emailAddress: emailAddress
          roles:
          - code: code
            scope: scope
          - code: code
            scope: scope
          login: login
          type: type
        billingContact:
          firstName: firstName
          lastName: lastName
          emailAddress: emailAddress
          roles:
          - code: code
            scope: scope
          - code: code
            scope: scope
          login: login
          type: type
        domain: domain
        companyName: companyName
        signedAgreements:
        - signedAgreements
        - signedAgreements
        description: description
        technicalContact:
          firstName: firstName
          lastName: lastName
          emailAddress: emailAddress
          roles:
          - code: code
            scope: scope
          - code: code
            scope: scope
          login: login
          type: type
      properties:
        domain:
          description: The name LUSID domain to create
          maxLength: 25
          minLength: 3
          pattern: ^[a-zA-Z]([a-zA-Z0-9-]*[a-zA-Z0-9])?$
          type: string
        description:
          description: Optional. Free text description of the domain.
          maxLength: 50
          minLength: 5
          nullable: true
          pattern: ^[\s\S]*$
          type: string
        companyName:
          description: The name of the company to which the domain is registered
          maxLength: 50
          minLength: 2
          pattern: ^[\s\S]*$
          type: string
        owner:
          $ref: '#/components/schemas/CreateUserRequest'
        technicalContact:
          $ref: '#/components/schemas/CreateUserRequest'
        billingContact:
          $ref: '#/components/schemas/CreateUserRequest'
        signedAgreements:
          description: Optional. If Terms and Conditions agreements have been signed
            during the sign up process
          items:
            type: string
          nullable: true
          type: array
      required:
      - companyName
      - domain
      - owner
      type: object
    CreateRoleRequest:
      additionalProperties: false
      description: Specifies the information required to create a new role.
      example:
        name: name
        description: description
      properties:
        name:
          description: The role name, which must be unique within the system.
          maxLength: 512
          minLength: 1
          pattern: ^[a-zA-Z][a-zA-Z0-9-_ +]{2,100}$
          type: string
        description:
          description: The description for this role
          maxLength: 1024
          minLength: 0
          nullable: true
          pattern: ^[\s\S]*$
          type: string
      required:
      - name
      type: object
    CreateUserRequest:
      additionalProperties: false
      description: Details necessary for creating a new user
      example:
        firstName: firstName
        lastName: lastName
        emailAddress: emailAddress
        roles:
        - code: code
          scope: scope
        - code: code
          scope: scope
        login: login
        type: type
      properties:
        firstName:
          description: The first name of the user
          maxLength: 50
          minLength: 1
          pattern: ^[\s\S]*$
          type: string
        lastName:
          description: The last name of the user
          maxLength: 50
          minLength: 2
          pattern: ^[\s\S]*$
          type: string
        emailAddress:
          description: "The user's email address - to which the account validation\
            \ email will be sent. For user accounts\r\nthis should exactly match the\
            \ Login."
          maxLength: 80
          minLength: 5
          type: string
        login:
          description: "The user's login username, in the form of an email address,\
            \ which must be unique within the system.\r\nFor user accounts this should\
            \ exactly match the user's email address."
          maxLength: 80
          minLength: 5
          type: string
        roles:
          description: Optional. Any known roles the user should be created with.
          items:
            $ref: '#/components/schemas/RoleId'
          nullable: true
          type: array
        type:
          description: The type of user (e.g. Personal or Service)
          maxLength: 20
          minLength: 1
          pattern: ^[a-zA-Z]*$
          type: string
      required:
      - emailAddress
      - firstName
      - lastName
      - login
      - type
      type: object
    CurrentUserResponse:
      additionalProperties: false
      example:
        emailAddress: emailAddress
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        id: id
        type: type
      properties:
        id:
          description: The user's system supplied unique identifier
          type: string
        emailAddress:
          description: The user's email address which may be null depending on the
            authentication method
          type: string
        type:
          description: The type of user (e.g. Personal or Service)
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - emailAddress
      - id
      - type
      type: object
    DomainId:
      additionalProperties: false
      example:
        name: name
      properties:
        name:
          maxLength: 100
          minLength: 3
          readOnly: true
          type: string
      required:
      - name
      type: object
    DomainResponse:
      additionalProperties: false
      example:
        owner:
          value: value
        billingContact:
          value: value
        created: 2000-01-23T04:56:07.000+00:00
        companyName: companyName
        description: description
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        id:
          name: name
        technicalContact:
          value: value
      properties:
        id:
          $ref: '#/components/schemas/DomainId'
        description:
          description: A description of the domain
          nullable: true
          type: string
        companyName:
          description: The company name for the domain
          nullable: true
          type: string
        owner:
          $ref: '#/components/schemas/UserId'
        billingContact:
          $ref: '#/components/schemas/UserId'
        technicalContact:
          $ref: '#/components/schemas/UserId'
        created:
          description: The
          format: date-time
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      type: object
    ErrorDetail:
      additionalProperties: false
      description: Provides details about an entity error that occured
      example:
        id: id
        detail: detail
        type: type
      properties:
        id:
          description: Id of the entity this error relates to
          nullable: true
          type: string
        type:
          description: Error type
          nullable: true
          type: string
        detail:
          description: Human readable description of the error
          nullable: true
          type: string
      type: object
    IdentifierPartSchema:
      additionalProperties: false
      example:
        displayName: displayName
        name: name
        index: 0
        description: description
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        required: true
      properties:
        index:
[...]
